*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

button {
    background: transparent;
    border: none;
    box-shadow: none;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}